<div class="nav">
    <img class="nav__logo" routerLink="" src="../../assets/img/SJHR.png"
        alt="neon-genesis-evangelion-logo">
    <div class="nav__item">
        <div class="nav__list">
            <div class="nav__list__option1">
                <div class="nav__list__option1__item">
                    <a routerLink="">Trang chủ</a>
                </div>
                <div class="nav__list__option1__item">
                    <a>Phim</a>
                </div>
                <div class="nav__list__option1__item">
                    <a>Lịch chiếu</a>
                </div>
            </div>
            <div class="nav__list__option2">
                <div class="nav__list__option1__item">
                    <a routerLink="">Đăng nhập</a>
                </div>
                <div class="nav__list__option1__item">
                    <a routerLink="">Đăng ký</a>
                </div>
            </div>
        </div>
        <form class="nav__form">
            <div class="form-group" style="display: flex;">
                <input placeholder="Search" type="text" class="form-control form__input">
                <button class="btn btn-primary form__btn">
                    <i class="las la-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>