<div class="nav">
    <img class="nav__logo" src="../../assets/img/Nerv_Logo.png" alt="neon-genesis-evangelion-logo">
    <div class="nav__item">
        <div class="nav__list">
            <div class="nav__list__option1">
                <div class="nav__list__option1__item">
                    <a routerLink="/home/home">Home</a>
                </div>
                <div class="nav__list__option1__item">
                    <a routerLink="">Gerne</a>
                </div>
                <div class="nav__list__option1__item">
                    <a>Movies</a>
                </div>
                <div class="nav__list__option1__item">
                    <a>Schedule</a>
                </div>
                <div class="nav__list__option1__item">
                    <a>About</a>
                </div>
            </div>
            <div class="nav__list__option2">
                <div class="nav__list__option1__item">
                    <a routerLink="/home">Login</a>
                </div>
                <div class="nav__list__option1__item">
                    <a routerLink="">Register</a>
                </div>
            </div>
        </div>
        <form class="nav__form">
            <div class="form-group" style="display: flex;">
                <input placeholder="Search" type="text" class="form-control form__input">
                <button class="btn btn-primary form__btn">
                    <i class="las la-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>