<hr class="hr">
<div class="footer">
    <div class="social-icon-group">
        <ul class="icon-list">
            <li><i class="lab la-facebook-square"></i></li>
            <li><i class="lab la-youtube"></i></li>
            <li><i class="lab la-twitter"></i></li>
            <li><i class="lab la-twitch"></i></li>
            <li><i class="las la-envelope"></i></li>
        </ul>
    </div>
    <div class="mics-group">
        <ul class="mics-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">What's New</a></li>
            <li><a href="#">Term of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="year">
        <p>2018-2022</p>
    </div>
</div>