<div class="form__add">
    <h3>Editing <b>{{editedPerson.hoTen}}</b></h3>
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Tài khoản</mat-label>
            <input [(ngModel)]="editedPerson.taiKhoan" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Họ tên</mat-label>
            <input [(ngModel)]="editedPerson.hoTen" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="editedPerson.email" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Số điện thoại</mat-label>
            <input [(ngModel)]="editedPerson.soDT" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Mật khẩu</mat-label>
            <input [(ngModel)]="editedPerson.matKhau" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Loại người dùng</mat-label>
            <mat-select [(ngModel)]="editedPerson.maLoaiNguoiDung">
                <mat-option *ngFor="let role of userRole" [value]="role.value" ngDefaultControl>
                    {{role.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form__add__btns">
        <button mat-stroked-button color="warn" (click)="onCloseDialog()">Cancel</button>
        <button mat-flat-button color="primary" (click)="onSave()">Save</button>
    </div>
</div>