<div class="container">
    <mat-toolbar color="primary" style="padding: 0">
        <div class="nav">
            <div class="nav__list">
                <div class="nav__list__item">
                    <a routerLink="/admin">Home</a>
                </div>
                <div class="nav__list__item">
                    <a routerLink="/admin/userlist">Users</a>
                </div>
                <div class="nav__list__item">
                    <a>Movies</a>
                </div>
            </div>
        </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>