<div class="container">
    <mat-toolbar color="primary" style="padding: 0">
        <div class="nav">
            <div class="nav__list">
                <div class="nav__list__item">
                    <a routerLink="/admin">Home</a>
                </div>
                <div class="nav__list__item">
                    <a routerLink="/admin/userlist">Users</a>
                </div>
                <div class="nav__list__item">
                    <a>Movies</a>
                </div>
            </div>
        </div>
    </mat-toolbar>

    <!-- <div class="profiles">
        <div *ngFor="let p of profiles, let i = index" class="profiles__item">
            <div class="profiles__item__ava">
                <img src="{{p.avatar}}" alt="avatar">
            </div>
            <div class="profiles__item__des">
                <div>{{p.first_name}} {{p.last_name}}</div>
                <div>{{p.email}}</div>
            </div>
            <div class="profiles__item__btns">
                <button mat-stroked-button color="warn" (click)="onDelete(p.id)">Delete</button>
                <button mat-stroked-button color="primary" (click)="openEditDialog(p)">Edit</button>
            </div>
        </div>
    </div>
    <button (click)="openDialogAdd()" class="btn__add" mat-fab color="accent">
        <mat-icon>add</mat-icon>
    </button> -->
    <router-outlet></router-outlet>
</div>