// .title {
//     background-color: grey;
//     height: 100%;
// }

.nav {
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;

    &__list {
        height: 100%;
        display: flex;
        align-items: center;

        .search {
            font-size: 16px;
            padding: 0 15px;
        }

        &__item {
            position: relative;
            padding: 0 20px;
            height: 100%;
            display: flex;
            align-items: center;

            a {
                text-align: center;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: #fff;
                z-index: 0;

                &:hover {
                    color: crimson;
                }
            }
        }
    }
}