<div class="text-center">
    <pagination-controls style="font-size: 26px; margin: 20px" (pageChange)="page = $event">
    </pagination-controls>
</div>
<div class="profiles">
    <div class="profiles__item"
        *ngFor="let p of profiles | paginate: {itemsPerPage: 20, currentPage: page }, let i = index ">
        <!-- <div class="profiles__item__ava">
            <img [src]="randomAvatarGen()" alt="avatar">
        </div> -->
        <div *ngIf="p.maLoaiNguoiDung === 'QuanTri'" class="admin-star">
            <i class="las la-star"></i>
        </div>
        <div class="profiles__item__des">
            <div style="margin-bottom: 5px;">{{p.hoTen}}</div>
            <div>{{p.email}}</div>
        </div>
        <div class="profiles__item__btns">
            <button mat-stroked-button color="warn" (click)="onDelete(p.taiKhoan)">Delete</button>
            <button mat-stroked-button color="primary" (click)="openEditDialog(p)">Edit</button>
        </div>
    </div>
</div>
<button (click)="openDialogAdd()" class="btn__add" mat-fab color="accent">
    <mat-icon>add</mat-icon>
</button>