<div class="text-center">
    <pagination-controls style="font-size: 26px; margin: 20px" (pageChange)="p = $event">
    </pagination-controls>
</div>
<div class="profiles">
    <div class="profiles__item"
        *ngFor="let p of profiles | paginate: {itemsPerPage: 12, currentPage: p }, let i = index ">
        <div class="profiles__item__ava">
            <img [src]="randomAvatarGen()" alt="avatar">
        </div>
        <div class="profiles__item__des">
            <div>{{p.hoTen}}</div>
            <div>{{p.email}}</div>
        </div>
        <div class="profiles__item__btns">
            <button mat-stroked-button color="warn">Delete</button>
            <button mat-stroked-button color="primary">Edit</button>
        </div>
    </div>
</div>
<button (click)="openDialogAdd()" class="btn__add" mat-fab color="accent">
    <mat-icon>add</mat-icon>
</button>